@model IEnumerable<KWeb.ModelsDB.Cita>
@{
    ViewBag.Title = "Mis Citas";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h2>Mis Citas</h2>

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title text-center">Mis Citas</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                        <th>Doctor</th>
                        <th>Fecha y Hora</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cita in Model)
                    {
                        <tr>
                            <td>@cita.Doctor.Nombre</td>
                            <td>@cita.FechaHora</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>